.button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.navbar.dark .button{
    color: #9AA0A6;
}
.navbar.dark .button:focus{
    color: #8AB4F8;
}
.navbar.light .button{
    color: #5F6368;
}
.navbar.light .button:focus{
    color: #1A73E8;
}